.hero {
    min-height: 100vh;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
}
.heading {
    padding-top: 2vmax;
    
    text-align: center;
    color: #f1f1f1;
    font-family: sans-serif;
}

.top-container {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
}
a {
    text-decoration: none;
}
.heading > span {
    font-size: 1vmax;
    margin:0 2vmax;
    float:right;
}
.heading > span:hover {
    border-bottom:1px solid white;
}
.dataInputField {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1.2vmax 0;
    font-size: 18px;
}
.dataInputField > div {
    padding: 2vmax 1vmax;
}

.dropdownMenu > select {
    font-size: 1.5vmax;
    padding: 1vmax;
    background: #29274F;
    color:white;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.searchInput > input {
    padding: 1vmax;
    font-size: 1.3vmax;
    width: 50vw;
}

.branches {
    text-align: center;
    margin: 0 2vmax;
}
.branches > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.branches > div > select {
  border: 1px solid #ccc;
    border-radius: 6px;
    margin:1vmax;
    padding:0.4vmax;
    font-size: 0.9vmax;
}
table {
    color:white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin:2vmax auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: hsla(315, 48%, 51%, 0.534);
}

.pagination-container {
  display: flex;
  justify-content: center;
}
.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    padding:2.7vmax 0;
}
.pagination > ul {
    align-items: center;
}
.pagination > li {
  margin:0 0.4vmax;
}

.pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.pagination__link {
    font-weight: bold;
}

.pagination__link--active a {
    color: #fff;
    background: #6c7ac9;
}

.pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}
